# Developers
.hg
.git
.svn
.idea/
.vscode/
.sass-cache/
*.db
*.pyc
__pycache__
*~

# Javascript libraries
/node_modules/

# Coverage reports & testing
/reports/
/htmlcov/
.tox

# Environment
local.py
/env/
/media/
/static/
/mail/
/log/*.log*
/log/nginx/*.log*
.env

# Static files build by gulp
src/nrc/static/css/
src/nrc/static/fonts/
src/nrc/static/js/

# Documentation artifacts
docs/_build

# Deployment tooling
deployment/single-server/vars/*.yml
!deployment/single-server/vars/postgres.yml
!deployment/single-server/vars/*.example.yml
