{% extends 'vng_api_common/master.html' %}

{% block content %}

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">NRC - Logviewer</h1>
    <p class="lead">Overzicht van alle binnengekomen events</p>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          {# TODO: rename headers #}
          <th scope="col">Id</th>
          <th scope="col">Bron</th>
          <th scope="col">Kanaal</th>
          <th scope="col">Abonnees</th>
          <th scope="col" width="70%">Bericht</th>
        </tr>
      </thead>
      <tbody>
        {% for event in log %}
          <tr>
            <th scope="row">
              <a href="{% url 'logviewer:event_res_log' event.id %}">{{ event.id }}</a>
            </th>
            <td scope="row">...</td>
            <td scope="row">{{ event.domain }}</td>
            <td scope="row">{{ event.nr_of_subscribers }}</td> {# TODO: implement property #}
            <td scope="row">
              {% if event.forwarded_msg %}
                <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#request-{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="request-{{ forloop.counter }}">
                  Toon bericht
                </a>
                <div class="collapse" id="request-{{ forloop.counter }}">
                  <br/>
                  <pre class="card card-body pre-scrollable" style="max-width: 750px;">{{ event.forwarded_msg|pprint }}</pre>
                </div>
              {% else %}
                (leeg)
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'components/pagination/pagination.html' %}

  </div>

{% endblock %}
