{% extends 'base.html' %}

{% block content %}
<div class="py-5 text-center">

    <h2>Notificatie Response Log</h2>
    <p class="lead"></p>
</div>

<div class="row">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="c1f28ol">Id</th>
                <th scope="col">Notificatie</th>
                <th scope="col">Abonnement</th>
                <th scope="col">Response Status</th>
            </tr>
        </thead>
        <tbody>
            {% for notificatie in log %}
                <tr>
                    <th scope="row">
                        <a  href="#">{{notificatie.id}}</a>
                    </th>
                    <th scope="row">{{notificatie.notificatie}}</th>
                    <th scope="row">{{notificatie.abonnement.callback_url}}</th>
                    <th scope="row">{{notificatie.response_status}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'notificatielog:notificatie_log' %}" class="btn btn-primary" role="button">Notificatie list</a>
    {% include 'components/pagination/pagination.html' %}
</div>
{% endblock %}
